<!--addForm.html-->
<!--POST Form-->
        <div class="col-md-5">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Mark it on the map! <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                        <div class="form-group">
                            <label for="username">Whats ya name? <span class="badge">All fields required</span></label>
                            <input type="text" class="form-control" id="username" placeholder="Hmm.. Jonny Depp?" ng-model="formData.username" required>
<!--                            <p>{{ formData.username }}</p>-->
                        </div>
                        <label class="radio control-label">Gender</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                                Male
                            </label>
                        </div>
                        <div class="radio" required>
                            <label>
                                <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                                Female
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radioother" value="What's it to ya?" ng-model="formData.gender">
                                What's it to ya?
                            </label>
                        </div>
                            
                            
                        
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="37" ng-model="formData.age" ng-disabled="ageSecret" required>
                            <input type="checkbox" name="secret" value="true" ng-model="ageSecret">&nbsp;Let's keep it a secret<br>
                        </div>
                        <label class="radio control-label"> I'm feeling ... </label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio" id="radiosuperman" value="superman" ng-model="formData.feeling">
                                like a superman
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio" id="radioexhausted" value="exhausted" ng-model="formData.feeling">
                                exhausted
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radio" id="radiosad" value="sad" ng-model="formData.feeling">
                                sad and lonely
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="language">{{ formData.question }}</label>
                            <input type="text" class="form-control" id="language" placeholder="Dunno what you're talking about" ng-model="formData.favlang" required>
                        </div>
                        <div class="form-group">
                            <label for="img">Pick Your Avatar</label>
                        </div>
                        <a href="" ng-repeat="url in avatarUrls">
                            <img src="{{url}}" alt="avatarImg" width="40" height="40" ng-click="setAvatar(url)">
                        </a>
                        
                        <br><br>
                        <div class="form-group">
                            <label for="latitude">Set Your Location</label>
                            <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.address" readonly>
                        </div>
<!--
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                        </div>
-->
<!--
                        <div class="form-group">
                            <label for="verified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                            <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                        </div>
-->
                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button type="submit" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid" ng-click="createUser()">Submit</button>
                    </form>
                </div>
            </div>
        </div>